.truncate.truncated {

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  position: relative;

  &.lines-2 {
    -webkit-line-clamp: 2;
  }

  &.lines-3 {
    -webkit-line-clamp: 3;
  }

  &.lines-4 {
    -webkit-line-clamp: 4;
  }

  &.lines-5 {
    -webkit-line-clamp: 5;
  }

  .content {
    display: block;
    &.more-visible {
      user-select: auto !important;
      touch-action: auto !important;
      cursor: pointer;
    }
  }
}



.more,
.less {
  color: #555;
  font-size: 85%;
  white-space: nowrap;
  cursor: pointer;
  padding-top: 6px;
  display: none;
}

.show-more,
.show-less {
  display: inline;
}
