<div [ngClass]="{ truncate: lines, truncated: contentTruncating }" [class]="linesClass">
  <span
      #contentEl
      class="content"
      [ngClass]="{ 'more-visible': moreVisible }"
      [matTooltip]="content"
      [matTooltipDisabled]="tooltipDisabled"
      [matTooltipClass]="'fs-truncate-tooltip'"
      (click)="toggle()">
    <ng-content></ng-content>
  </span>
</div>
<div class="more" [ngClass]="{ 'show-more': showMore }" (click)="moreClick()">See More</div>
<div class="less" [ngClass]="{ 'show-less': expanded && showLess }" (click)="lessClick()">See Less</div>
