<div class="overview">
    <h1>Overview</h1>
    <li><b>npm run serve</b> Starts the playground web server</li>
    <li><b>npm run lint</b> Validates the package</li>
    <li><b>npm run release</b> Builds the release directory for publishing to NPM</li>
</div>

<fs-component-examples>
    <h1>Examples</h1> 
    <div class="example">
        <fs-component-example fsTitle="Example Component" fsHtml="..." fsTs="..." fsCss="...">     
            <example-component></example-component>
        </fs-component-example>  
    </div>  

    <!-- <div class="example">
        <fs-component-example fsTitle="Example2 Component" fsHtml="..." fsTs="..." fsCss="...">     
            <example2-component></example2-component>
        </fs-component-example>  
    </div>   -->
</fs-component-examples>

