<div fsDrawerContent class="content">

  <h2>Configure</h2>

  <div class="configs">

    <mat-form-field>
      <input matInput placeholder="Image Width" type="number" [(ngModel)]="config.width">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Image Height" [(ngModel)]="config.height">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Text" type="text" [(ngModel)]="config.text">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="reload()">Reload</button>
  </div>

</div>
