<div fsDrawerContent class="content">

  <h2>Configure</h2>

  <div class="configs">

    <mat-form-field>
      <mat-select placeholder="Lines" [(ngModel)]="config.lines" name="lines">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Text" [(ngModel)]="config.text" name="text" cdkTextareaAutosize></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="reload()">Reload</button>
  </div>

</div>
